@import url('https://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);

$font-stack: 14px fontawesome;
$inputBG: #000000;

html {
   height: 100%;
}

body {
/* IE10 and above */
display: flex;
justify-content: center;
align-items: center;
min-height: 100%;
font-family: 'lato', sans-serif;
color: #fff;
background:#16222A;
background: -webkit-linear-gradient(to top, #9890e3 0%, #b1f4cf 100%); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-radius: 5px;
box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
margin: 0;
}

h1 {
  color: #ffffff;
  text-align: center;
}
.container {
  background: #222222;
  background: -webkit-linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); /* Chrome 10-25, Safari 5.1-6 */
  background:  linear-gradient(-20deg, #2b5876 0%, #4e4376 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width:450px;
  display: flex;  
  flex-direction: column;
}

.login-title{
  font-family: "museo-slab";  
  font-size: 40px;
  color: #fff;
  text-align: center;
  padding: 20px 20px 0;
  margin:0;
}

.login-item {
	color: $inputBG;
	padding:25px 25px 0;
	margin: 20px 20px 0;	
	border-radius: 3px;
}

input {
  border: 0;
  color: #B8B8B8;
  font: inherit;
  margin: 0 auto;
  outline: 0;
  padding: 10px 120px 10px 5px;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  display: block;
  background: $inputBG;
}

.user:before {
  content: '\f007';
  font: $font-stack;
	color: #5b5b5b;
}

.lock:before {
  content: '\f023';
  font: $font-stack;
	color: #5b5b5b;
}

.form input {
[type="password"], [type="text"], [type="submit"] {
  width: 100%;
}
  }
.form-login {
label,
input[type="text"],
input[type="password"],
input[type="submit"] {
    border-radius: 0.25rem;
    padding: 1rem;
    color: #3A3F44;  
    background-color: #3A3F44;
  }

label {
  background-color: #222222;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

input[type="text"], .form-login input[type="password"] {
  background-color: $inputBG;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

input[type="text"]:focus, input[type="text"]:hover,  input[type="password"]:focus, input[type="password"]:hover{
  background-color:$inputBG;
}

input[type="submit"] {
  background-color: #00B9BC;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
}

input[type="submit"]:focus, .form-login input[type="submit"]:hover {
  background-color: #197071;
}
  }
.form-field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.text--center {
  text-align: center;
}

#login-password {
  background-color: #000000 !important;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #B8B8B8	;
  -webkit-text-fill-color: #B8B8B8	;
  -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.button {
  margin: 0 auto;
	display: block;
	height: 40px;
	width: 300px;
	background: #34696f;
	border: 2px solid rgba(33, 68, 72, 0.59);
	color: #E8E8E8;
	text-align: center;
  font: 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  background: -webkit-linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
  background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
	box-shadow: 0 1px 0 #1b383b;
}
 a.button {
	text-decoration: none;
}
a.button {
	text-decoration: none;
}
.up-form {
  display: inline;
}
.logout {
  margin: 0 0 10px 5px;
}
.center {
  text-align: center;
}
.image {
  width: 50%;
}